<h1> Здесь будут отображаться посты</h1>
<p>
	<% @posts.each do |post| %>
		<%= post.content %>
		<br/>
		<span style="color: #b2b2b2; font-size: 80%; font-style: italic">
		<%= post.username %> <%= post.datestamp %>
		</span>
		<br/>
		<a href="/details/<%= post['id'] %>">Комментарии</a>
		<br/>
		<br/>
	<% end %>
</p>