<h1> Здесь будут отображаться посты</h1>
<p>
	<% @results.each do |post| %>
		<%= post['content'] %>
		<br/>
		<span style="color: #b2b2b2; font-size: 80%; font-style: italic">
		Написал <%= post['username'] %> <%= post['create_date'] %>
		</span>
		<br/>
		<a href="/details/<%= post['id'] %>">Комментарии</a>
		<br/>
		<br/>
	<% end %>
</p>